<ul>
  <%- if current_user -%>
    <li><%= link_to t(:games), games_path %><%= yield :games_menu %></li>
    <li><%= link_to t(:game_types), game_types_path %><%= yield :game_types_menu %></li>
    <!--li><%# link_to t(:exit), user_session_path, :method => :delete, :confirm => t(:really_exit) %></li-->
    <li><%= link_to t(:exit), user_session_path, :method => :delete %></li>
  <%- else -%>
    <li><%= link_to t(:entry), login_path %></li>
    <li><%= link_to t(:sign_up), new_user_path %></li>
  <%- end -%>
  <%= yield :menu %>
</ul>