<ul>
  <%- if @current_user -%>
    <li><%= link_to "Игры", games_path %><%= yield :games_menu %></li>
    <li><%= link_to "Типы игр", game_types_path %><%= yield :game_types_menu %></li>
    <li><%= link_to "Выход", session_path, :method => :delete, :confirm => 'Вы действительно желаете выйти?' %></li>
  <%- else -%>
    <li><%= link_to "Вход", login_path %></li>
    <li><%= link_to "Регистрация", new_user_path %></li>
  <%- end -%>
  <%= yield :menu %>
</ul>