<h2><%=t :input_registration_data %></h2>
<%- if @user.errors -%>
  <div id="madelErrors">
    <%- @user.errors.each do |error| -%>
      <%= error %><br/>
    <%- end -%>
  </div>
<%- end -%>
<%- form_for @user do |form| -%>
  <h3><%=t :required_data %></h3>
  <div class="formTitle"><%= form.label :login %></div>
  <%= form.text_field :login %>
  <div class="formTitle"><%= form.label :password %></div>
  <%= form.password_field :password %>
  <div class="formTitle"><%= form.label :password_confirmation %></div>
  <%= form.password_field :password_confirmation %>
  <div class="formTitle"><%= form.label :email %></div>
  <%= form.text_field :email %>
  <h3><%=t :additional_info %></h3>
  <%= render :partial => "user_info", :locals => { :user => @user } %>
  <br /><br />

  <%= form.submit t(:submit) %>
<%- end -%>