<% title t('.input_registration_data') %>
<%= error_messages_for 'user', :header_message => nil %>

<%- form_for @user, :id => "registration_form" do |form| -%>
	<div>
		<div id="required">
			<h5><%=t '.required_data' %></h5>
			<div class="formTitle"><%= form.label :login, User.attr_name("login") %></div>
			<%= form.text_field :login %>
			<div class="formTitle"><%= form.label :password, User.attr_name("password") %></div>
			<%= form.password_field :password %>
			<div class="formTitle"><%= form.label :password_confirmation, User.attr_name("password_confirmation") %></div>
			<%= form.password_field :password_confirmation %>
			<div class="formTitle"><%= form.label :email, User.attr_name("email") %></div>
			<%= form.text_field :email %>
			<div class="formTitle"><%=t '.captcha_title' %></div>
			<%= show_simple_captcha :object=>"user",
				:label => "",
				:image_style => 'all_black'
			%>

		</div>
		<div id="additional">
			<h5><%=t '.additional_info' %></h5>
			<%= render :partial => "user_info", :locals => { :user => @user } %>
		</div>
		<div class="clear"></div>
	</div>
	<div style="margin-top:10px;">
		<%= image_submit_tag 'main/reg.gif',
			:alt => t('.sign_up'),
			:onmouseover => "this.src = '#{image_path 'main/reg_a.gif'}'",
			:onmouseout => "this.src = '#{image_path 'main/reg.gif'}'"
		%>
	</div>
<%- end -%>