<h2><%=t 'views.users.new.input_registration_data' %></h2>
<%- if @user.errors -%>
  <div id="modelErrors">
    <%- @user.errors.each do |attr, error| -%>
        <%= User.human_attribute_name(attr) + ' ' + error %><br/>
    <%- end -%>
  </div>
<%- end -%>
<%- form_for @user do |form| -%>
  <h3><%=t 'views.users.new.required_data' %></h3>
  <div class="formTitle"><%= form.label :login, User.human_attribute_name("login") %></div>
  <%= form.text_field :login %>
  <div class="formTitle"><%= form.label :password, User.human_attribute_name("password") %></div>
  <%= form.password_field :password %>
  <div class="formTitle"><%= form.label :password_confirmation, User.human_attribute_name("password_confirmation") %></div>
  <%= form.password_field :password_confirmation %>
  <div class="formTitle"><%= form.label :email, User.human_attribute_name("email") %></div>
  <%= form.text_field :email %>
  <h3><%=t 'views.users.new.additional_info' %></h3>
  <%= render :partial => "user_info", :locals => { :user => @user } %>
  <br /><br />

  <%= form.submit t('views.users.new.sign_up') %>
<%- end -%>