<% title t('.title') %>
<p>
	Мы создали этот сайт для того, чтобы Вы могли насладиться
	этой замечательной игрой, развивать свои навыки в дружеских
	турнирах и зарабатывать деньги. Мы долго готовились к запуску
	проекта и вот наконец можем показать его Вам, друзья!
</p>
<p>
	В период бета-тестирования мы ждем от Вас отзывов и пожеланий,
	а также просим сообщать о всех обнаруженных неполадках в работе
	сайта. Для связи с нами, пожалуйста, используйте систему отзывов (ссылка слева)
	или пишите на <%= mail_to Conf[:admin_email], Conf[:admin_email], :encode => :javascript %>
</p>
<em>Наша команда:</em>
<ul>
	<li>Дудоладова Марина (дизайнер)</li>
	<li>Микаилова Эльнара (дизайнер)</li>
	<li>Станько Александр (программист)</li>
	<li>Щербаков Антон (программист)</li>
</ul>
<p><em>В работе мы используем:</em></p>
<p>
	<%= link_to image_tag('rails.gif'), 'http://rubyonrails.org/', :target => :blank %>
	<%= link_to image_tag('github.png'), 'http://github.com/', :target => :blank %>
	<%= link_to image_tag('jquery.gif'), 'http://jquery.com/', :target => :blank %>
	<%= link_to image_tag('netbeans.gif'), 'http://netbeans.org/', :target => :blank %>
</p>
