<div id="away_screen"><p><%= t('views.games._away_screen.away_message')%></p></div>
<script type="text/javascript">
	var RP_AwayDialog = $('#away_screen').dialog({
		resizable: false,
		draggable: false,
		modal: true,
		autoOpen: false,
		closeOnEscape: false,
		width: 300,
		buttons: {
			"<%= t('views.games._away_screen.i_am_back')%>": function() {
				$(this).dialog("close");
			}
		},
		beforeclose: function(event, ui){
			$.ajax({
				url:"<%= i_am_back_player_path(@game.current_player(current_user.id)) %>",
				type:"post",
				async: false,
				data:{
					"_method":"put"
				},
				success:function(){
					$('#away_screen p').text('<%= t('views.games._away_screen.away_message')%>');
					RP_Client.active();
					//Game.resume();
				},
				error:function(){
					$('#away_screen p').text('<%= t('views.games._away_screen.back_failed')%>');
					RP_AwayDialog.dialog("open");
				}
			});
		}
	});
</script>
