<div id="lose_screen"><p><%= t('views.games._game_over_screen.lose_message')%></p></div>
<script type="text/javascript">
	var RP_LoseDialog = $('#lose_screen').dialog({
		resizable: false,
		modal: true,
		autoOpen: false,
		closeOnEscape: false,
		width: 300,
		buttons: {
			"<%= t('views.games._game_over_screen.watch')%>": function() {
				if(1 == RP_Players.count){
					window.close();
				}else{
					$(this).dialog("close");
				}
			},
			"<%= t :exit %>": function() {
				window.close();
			}
		},
		close: function(){
			window.close();
		},
		open: function(){
			if(1 == RP_Players.count){
				RP_Synchronizers.Action.stop();
				RP_Synchronizers.Chat.stop();
			}
		}
	});
</script>
<div id="win_screen"><p><%= t('views.games._game_over_screen.win_message')%></p></div>
<script type="text/javascript">
	var RP_WinDialog = $('#win_screen').dialog({
		resizable: false,
		modal: true,
		autoOpen: false,
		closeOnEscape: false,
		width: 300,
		buttons: {
			"<%= t :exit %>": function() {
				window.close();
			}
		},
		open: function(){
			RP_Synchronizers.Action.stop();
			RP_Synchronizers.Chat.stop();
		},
		close: function(){
			window.close();
		}
	});
</script>
