<tr>
  <td><%=h game.type.title %></td>
  <td><%= number_to_currency game.type.pay_for_play %></td>
  <td><%= game.type.start_stack %></td>
  <td><%= game.blind_size %></td>
  <td><%= players_stat game %></td>
  <td class="actions"><%= render :partial => 'game_actions', :locals => { :game => game } %></td>
</tr>
