<table>
	<tbody>
		<tr>
			<td>
				<%= card :h, 'A' %><%= card :h, 'K' %><%= card :h, 'Q' %><%= card :h, 'J' %><%= card :h, '10' %>
			</td>
			<td>
				<%= card :h, 'Q' %><%= card :d, 'J' %><%= card :d, '10' %><%= card :s, '9' %><%= card :c, '8' %>
			</td>
		</tr>
		<tr>
			<td>
				<%= card :s, '10' %><%= card :s, '9' %><%= card :s, '8' %><%= card :s, '7' %><%= card :s, '6' %>
			</td>
			<td>
				<%= card :d, '9' %><%= card :c, '9' %><%= card :s, '9' %><%= card :s, 'J' %><%= card :h, '10' %>
			</td>
		</tr>
		<tr>
			<td>
				<%= card :h, 'A' %><%= card :c, 'K' %><%= card :h, 'K' %><%= card :d, 'K' %><%= card :s, 'K' %>
			</td>
			<td>
				<%= card :c, 'A' %><%= card :s, 'A' %><%= card :h, 'Q' %><%= card :d, 'Q' %><%= card :h, '5' %>
			</td>
		</tr>
		<tr>
			<td>
				<%= card :h, '9' %><%= card :c, '9' %><%= card :s, 'Q' %><%= card :h, 'Q' %><%= card :d, 'Q' %>
			</td>
			<td>
				<%= card :h, 'K' %><%= card :d, 'K' %><%= card :s, '8' %><%= card :h, '2' %><%= card :c, '10' %>
			</td>
		</tr>
		<tr>
			<td>
				<%= card :d, '2' %><%= card :d, '5' %><%= card :d, '10' %><%= card :d, 'J' %><%= card :d, 'A' %>
			</td>
			<td>
				<%= card :h, 'A' %><%= card :s, 'J' %><%= card :s, '10' %><%= card :h, '7' %><%= card :d, '4' %>
			</td>
		</tr>
	</tbody>
</table>
