<%- @game.type.max_players.times do |sit| -%>
<div id="<%= sits_element_id 'away_veil', sit %>" class="away_veil" style="<%=sit_position(@game.type_id, sit)%>"></div>
<div id="<%= sits_element_id 'sit', sit %>" class="sit" style="<%=sit_position(@game.type_id, sit) << 'display:none;'%>">
	<!--div id="<%= sits_element_id 'last_action', sit %>" class="last_action"></div-->
	<div class="main_part">
		<div id="<%= sits_element_id 'login', sit %>" class="login"></div>
		<div id="<%= sits_element_id 'cards', sit %>" class="cards">
			<%= image_tag "game/cards/RP.gif", :id => sits_element_id('cards', sit, 0), :alt => 'RP' %>
			<%= image_tag "game/cards/RP.gif", :id => sits_element_id('cards', sit, 1), :alt => 'RP' %>
		</div>
	</div>
	<div class="side_part">
		<div id="<%= sits_element_id 'buttons', sit %>" class="buttons"></div>
		<div class="side_block">
			<%= image_tag "game/timer/0.gif", :id => sits_element_id('timer', sit) %>
		</div>
		<div id="<%= sits_element_id 'chips', sit %>" class="side_block">
			<div id="<%= sits_element_id 'stack', sit %>" class="stack"></div>
		</div>
	</div>
</div>
<%- end -%>
