<div id="actions_veil" class="block"></div>
<div class="block">

<div id="client_actions">
	<%= render :partial => 'player_action_button', :collection => client_actions, :as => :action %>
</div>

<div id="auto_actions">
	<span>
		<input type="checkbox" id="auto_fold" name="auto_action" value="fold" />
		<label for="auto_fold">fold</label>
	</span>
	<span>
		<input type="checkbox" id="auto_check" name="auto_action" value="check" />
		<label for="auto_check">check</label>
	</span>
	<span>
		<input type="checkbox" id="auto_call" name="auto_action" value="call" />
		<label for="auto_call">call</label>
		<span id="auto_call_value"></span>
	</span>
	<span>
		<input type="checkbox" id="auto_bet" name="auto_action" value="bet" />
		<label for="auto_bet">bet</label>
	</span>
	<span>
		<input type="checkbox" id="auto_raise" name="auto_action" value="raise" />
		<label for="auto_raise">raise</label>
	</span>
</div>

<div style="margin-top: 40px;">
	<div style="float:left;width:70%;margin:5px 5px 0 0;"><div id="stake_slider"></div></div>
	<div style="margin-top:2px;"><input id="stake_value" disabled="disabled" value="<%= @game.minimal_bet %>" size="5"/></div>
	<script type="text/javascript">
		RP_StakeSlider = $('#stake_slider').slider({
			animate: true,
			value: <%= @game.minimal_bet %>,
			min: <%= @game.minimal_bet %>,
			max: <%= @game.current_player(current_user).stack %>,
			step: <%= @game.small_blind_size %>,
			slide: function(event, ui) {
				$("#stake_value").val(ui.value);
			}
		});

		$("#stake_value").val(RP_StakeSlider.slider("value"));

		$('#stake_value').change(function(){
			var slider_value = parseInt($(this).val());
			if(RP_Game.minimal_bet() <= slider_value && slider_value <= RP_Client.stack){
				RP_StakeSlider.slider('value', slider_value);
			}else{
				var stake_value;
				if(slider_value < RP_Game.minimal_bet()){
					stake_value = RP_Game.minimal_bet();
				}else{
					stake_value = RP_Game.players[Game.client_sit].stack;
				}
				RP_StakeSlider.slider('value', stake_value);
				$(this).val(stake_value);
			}
		});
	</script>
</div>
</div>
