<%- @game.type.max_players.times do |sit| -%>
<div id="sit_<%= sit %>" class="sit" style="<%=player_window_position(@game.type_id, sit)%>">
	<div class="main_part">
		<div id="<%= sits_element_id 'login', sit %>" class="login"></div>
		<div id="<%= sits_element_id 'cards', sit %>" class="cards"></div>
	</div>
	<div class="side_part">
		<div id="<%= sits_element_id 'buttons', sit %>" class="buttons"></div>
		<div class="side_block">
			<img id="<%= sits_element_id 'timer', sit %>" src="/images/game/timer/default.gif" alt="timer"/>
		</div>
		<div id="<%= sits_element_id 'chips', sit %>" class="side_block">
			<div id="<%= sits_element_id 'stack', sit %>" class="stack"></div>
		</div>
	</div>
</div>
<%- end -%>
