<div id="cards">
	<div id="flop" style="display:none;">
		<%= image_tag 'game/cards/RP.gif', :id => 'flop_0' %>
		<%= image_tag 'game/cards/RP.gif', :id => 'flop_1' %>
		<%= image_tag 'game/cards/RP.gif', :id => 'flop_2' %>
	</div>
	<div id="turn" style="display:none;">
		<%= image_tag 'game/cards/RP.gif', :id => 'turn_0' %>
	</div>
	<div id="river" style="display:none;">
		<%= image_tag 'game/cards/RP.gif', :id => 'river_0' %>
	</div>
</div>