<% title t('.title') if current_user %>

<% if @current_games.any? %>
	<%= render 'joined_games' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>№</th>
      <th><%=t :type %></th>
      <th><%=t 'game_types.index.pay_for_play' %></th>
      <th><%=h Game.attr_name("players_count") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
		<% if @games.any? %>
			<%= render @games %>
		<% else %>
			<tr>
				<td colspan="5"><%=t '.no_games' %></td>
			</tr>
		<% end %>
  </tbody>
</table>

<div id="other_links">
	<%= link_to t('.waited'), games_path %>&nbsp;|&nbsp;
	<%= link_to t('.started'), started_games_path %>&nbsp;|&nbsp;
	<%= link_to t('.finished'), finished_games_path %>
</div>

