<h3><%=t 'views.games.index.title' %></h3>
<!--p>
	<%= t 'views.games.index.test_popups' %>
	<%= link_to_function t('views.games.index.run_test'),
		"try{
			test_window = window.open('/', 'test', 'left=10,top=10,width=10,height=10');
			test_window.close();
			alert('#{t 'views.games.index.test_passed'}');
		}catch(e){
			alert('#{t 'views.games.index.test_failed'}');
		}"
%>
</p-->
<table>
  <thead>
    <tr>
      <th><%=t :type %></th>
      <th><%=t 'views.games.index.pay_for_play' %></th>
      <th><%=h GameType.human_attribute_name("start_stack") %></th>
      <th><%=h GameType.human_attribute_name("start_blind") %></th>
      <th><%=h Game.human_attribute_name("players_count") %></th>
      <th><%=t :actions %></th>
    </tr>
  </thead>
  <tbody>
		<% if @games.any? %>
			<%= render :partial => @games %>
		<% else %>
			<tr>
				<td colspan="6"><%=t 'views.games.index.no_games' %></td>
			</tr>
		<% end %>
  </tbody>
</table>
