 <% title t('.title') if current_user %>
<!--p>
	<%= t '.test_popups' %>
	<%= link_to_function t('.run_test'),
		"try{
			test_window = window.open('/', 'test', 'left=10,top=10,width=10,height=10');
			test_window.close();
			alert('#{t '.test_passed'}');
		}catch(e){
			alert('#{t '.test_failed'}');
		}"
%>
</p-->
<table>
  <thead>
    <tr>
      <th>№</th>
      <th><%=t :type %></th>
      <th><%=t 'game_types.index.pay_for_play' %></th>
      <th><%=h Game.attr_name("players_count") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
		<% if @games.any? %>
			<%= render @games %>
		<% else %>
			<tr>
				<td colspan="5"><%=t '.no_games' %></td>
			</tr>
		<% end %>
  </tbody>
</table>

<div id="other_links">
	<%= link_to t('.waited'), games_path %>&nbsp;|&nbsp;
	<%= link_to t('.started'), started_games_path %>&nbsp;|&nbsp;
	<%= link_to t('.finished'), finished_games_path %>
</div>

