<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "game", :media => "all" %>
    <%= stylesheet_link_tag "jquery-ui", :media => "all" %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag 'game.js' %>
		<%= javascript_include_tag 'game_tests.js' %>
    <title>Game</title>
		<%= render :partial => 'init_game' %>
  </head>
  <body>
		<div id="veil" style="display:none;"></div>
    <div id="room">
      <div id="main">
        <div id="info">
          <div id="info_line" class="block"></div>
          <div id="game_info" class="block">
						<div class="info_part"><%= @game.type.title %></div>
						<div class="info_part">blinds: <span id="blinds"></span>&nbsp;&nbsp;&nbsp;pot: <span id="pot"></span></div>
					</div>
        </div>
        <div id="table">
					<%= render :partial => 'players' %>
					<%= render :partial => 'table_cards' %>
				</div>
      </div>
      <div id="control">
        <div id="log" class="block">
					<%= render :partial => 'log' %>
				</div>
        <div id="help" class="block"></div>
        <div id="player_actions" class="block">
					<%= render :partial => 'player_actions' %>
				</div>
        <div id="notes" class="block">
					<button onclick="RP_Tests.run_all();">TESTS</button>
				</div>
      </div>
    </div>
		<%= render :partial => 'away_screen' %>
  </body>
</html>