<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "game", "jquery-ui", :media => "all", :cache => true %>
		<%= javascript_include_tag :defaults, 'game.js', :cache => true %>
    <title>Game</title>
		<%= render 'init_game' %>
  </head>
  <body>
		<div id="veil" style="display:none;"></div>
    <div id="room">
      <div id="main">
        <div id="info">
          <div id="info_line" class="block"><%= @game.type.title %></div>
          <div id="game_info" class="block">
						blinds: <span id="blinds"></span>&nbsp;&nbsp;
						pot: <span id="pot"></span>&nbsp;&nbsp;
						level up: <span id="level_time"></span>
					</div>
        </div>
        <div id="table">
					<%= render 'players' %>
					<%= render 'table_cards' %>
				</div>
      </div>
      <div id="control">
        <div id="log" class="block">
					<%= render 'log' %>
				</div>
        <div id="help" class="block">
					<%= render 'help' %>
				</div>
        <div id="player_actions" class="block">
					<%= render 'player_actions' %>
				</div>
        <div id="notes" class="block">
				</div>
      </div>
    </div>
		<%= render 'away_screen' %>
		<%= render 'game_over_screen' %>
  </body>
</html>