<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "game", :media => "all" %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag 'game.js' %>
    <title>Game</title>
		<%= render :partial => 'init_game' %>
  </head>
  <body>
    <div id="room">
      <div id="main">
        <div id="info">
          <div id="info_line" class="block"></div>
          <div id="game_info" class="block">
						<div class="info_part"><%= @game.type.title %></div>
						<div class="info_part"><%=t 'views.games.show.blinds' %> <span id="blinds"></span>&nbsp;&nbsp;&nbsp;<%=t 'views.games.show.in_pot' %> <span id="pot"></span></div>
					</div>
        </div>
        <div id="table">
					<%= render :partial => 'players' %>
					<div id="cards">
						<div id="flop"><img id="flop_0"><img id="flop_1"><img id="flop_2"></div>
						<div id="turn"><img id="turn_0"></div>
						<div id="river"><img id="river_0"></div>
					</div>
				</div>
      </div>
      <div id="control">
        <div id="log" class="block">
					<%= render :partial => 'log' %>
				</div>
        <div id="help" class="block"></div>
        <div id="actions" class="block">
					<%= render :partial => 'player_actions' %>
				</div>
        <div id="notes" class="block"></div>
      </div>
    </div>

    <%= link_to t(:games), games_path %><%= yield :games_menu %>
  </body>
</html>