<tr>
  <td><%=h type.title %></td>
  <td><%=h type.max_players %></td>
  <td><%=h type.start_cash + type.additional_cash %></td>
  <td><%=h type.start_stack %></td>
  <td><%=h type.start_blind %></td>
  <td><%=h type.raise_blind_time %></td>
  <td><%=h type.raise_blind_size %></td>
  <td><%=h type.min_level %> - <%=h type.max_level %></td>
</tr>
