<% title t('.title') %>
<div id="signin_form">
	<%- form_for @user_session, :url => user_session_path do |form| -%>
		<p class="formTitle"><%= form.label :login, User.attr_name("login") %></p>
		<%= form.text_field :login %>
		<p class="formTitle"><%= form.label :password, User.attr_name("password") %></p>
		<%= form.password_field :password %><br /><br />

		<%= image_submit_tag 'main/log.gif',
			:alt => t(:entry),
			:onmouseover => "this.src = '#{image_path 'main/log_a.gif'}'",
			:onmouseout => "this.src = '#{image_path 'main/log.gif'}'"
		%>
	<%- end -%>
</div>
