<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= t(:default_title) %> <%= yield(:title) %></title>
		<%= stylesheet_link_tag "style", :media => "all" %>
		<%= stylesheet_link_tag "jquery-ui", :media => "all" %>
		<%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="index">
      <div id="head"><%= link_to_unless_current image_tag("main/logo_rubypoker.jpg"), root_path %></div>
      <div id="under_logo">
        <div id="menu"><%= render "partials/menu" %></div>
        <div id="body">
					<%= render 'partials/info_line' if current_user %>
					<%= content_tag :h3, (yield :title) if yield :title %>

					<% flash.each do |key, message| %>
						<%= content_tag :div, message, :id => key, :class => 'flash' %>
					<% end %>

					<noscript>
						<div id="noscript"><%= t(:enable_js) %></div>
					</noscript>

					<%= yield %>
				</div>
      </div>
    </div>
		<script type="text/javascript" src="http://reformal.ru/tab.js?title=rubypoker&domain=rubypoker&color=45070B&align=left&charset=utf-8&ltitle=&lfont=&lsize=&waction=0&regime=0"></script>
  </body>
</html>